{
    "extends": [
        "plugin:prettier/recommended"
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "quotes": ["error", "double"]
    }
}